@mixin button-variant($color, $background-color, $border-color) {
  background-color: $background-color;
  border-color: $border-color;
  color: $color;

  &.focus {
    background-color: darken($background-color, 10%);
    border-color: darken($border-color, 25%);
    color: $color;
  }

  &:hover {
    background-color: darken($background-color, 10%);
    border-color: darken($border-color, 12%);
    color: $color;
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-color: darken($background-color, 10%);
    border-color: darken($border-color, 12%);
    color: $color;

    &:hover,
    &.focus {
      background-color: darken($background-color, 17%);
      border-color: darken($border-color, 25%);
      color: $color;
    }
  }

  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &.focus {
      background-color: $background-color;
      border-color: $border-color;
    }
  }

  .badge {
    background-color: $color;
    color: $background-color;
  }
}
