@import "stlr/variables/grid";
@import "stlr/mixins/clearfix";

@mixin container-fixed($gutter-width: $grid-gutter-width) {
  @include clearfix;
  margin-left: auto;
  margin-right: auto;
  padding-left:  floor($gutter-width / 2);
  padding-right: ceil($gutter-width / 2);
}
