@mixin retina-bg($lq-image, $hq-image, $repeat, $image-width, $image-height) {
  background-image: image_url($lq-image);
  background-repeat: $repeat;

  @media only screen and (min-resolution: 1.3dppx) {
    background-image: image_url($hq-image);
    background-size: $image-width $image-height;
  }
}
