@mixin retina-image($filename,
                    $width,
                    $height,
                    $format: '.png',
                    $options: 50% 50% no-repeat,
                    $retina-options: $options,
                    $size: 100%) {
  background: image_url($filename + $format) $options;
  background-size: $size;
  height: $height;
  width: $width;

  @media only screen and (min-resolution: 1.3dppx) {
    background: image_url($filename + '@2x' + $format) $retina-options;
    background-size: $size;
  }
}
