@mixin scrollbar($background-color: #323232) {
  &::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba($background-color, 0.25);
    border-radius: 10px;
    border: 2px solid transparent;
    &:hover {
      background-color: rgba($background-color, 0.5);
    }
  }
}
