@import "stlr/mixins/background-cover";

@mixin svg-cover($bitmap-image, $svg-image) {
  @include background-cover();
  background-image: image_url($bitmap-image);

  @media only screen and (min-resolution: 1.3dppx) {
    .svg & {
      background-image: image_url($svg-image);
      background-size: 100%;
    }
  }
}
