@mixin svg-bg($filename, $format: '.png',
                         $options: 50% 50% no-repeat,
                         $svg-options: $options,
                         $size: null) {
  background: image_url($filename + $format) $options;
  background-size: $size;

  @media only screen and (min-resolution: 1.3dppx) {
    .svg & {
      background: image_url($filename + '.svg') $svg-options;
      background-size: $size;
    }
  }
}
