@import "stlr/variables/base";

$navbar-inverse-background-color:                 #222 !default;
$navbar-inverse-border-color:                     darken($navbar-inverse-background-color, 10%) !default;
$navbar-inverse-color:                            lighten($base-muted-color, 15%) !default;

$navbar-inverse-link-color:                       lighten($base-muted-color, 15%) !default;
$navbar-inverse-link-hover-background-color:      transparent !default;
$navbar-inverse-link-hover-color:                 #fff !default;
$navbar-inverse-link-active-background-color:     darken($navbar-inverse-background-color, 10%) !default;
$navbar-inverse-link-active-color:                $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-disabled-background-color:   transparent !default;
$navbar-inverse-link-disabled-color:              #444 !default;
$navbar-inverse-brand-color:                      $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-background-color:     transparent !default;
$navbar-inverse-brand-hover-color:                #fff !default;
$navbar-inverse-toggle-border-color:              #333 !default;
$navbar-inverse-toggle-icon-bar-background-color: #fff !default;
$navbar-inverse-toggle-hover-background-color:    #333 !default;
