@import "stlr/variables/base";

$nav-pills-border-radius:                        $base-border-radius !default;

$nav-pills-active-link-hover-background-color:   $base-active-background-color !default;
$nav-pills-active-link-hover-color:              $base-active-color !default;
