@import "stlr/variables/base";

$nav-tabs-border-color:                        #ddd !default;

$nav-tabs-link-hover-border-color:             $base-light-color !default;
$nav-tabs-active-link-hover-background-color:  $base-background-color !default;
$nav-tabs-active-link-hover-border-color:      #ddd !default;
$nav-tabs-active-link-hover-color:             #555 !default;
$nav-tabs-justified-link-border-color:         #ddd !default;
$nav-tabs-justified-active-link-border-color:  $base-background-color !default;
