@import "stlr/variables/base";

$blockquote-border-color:    $base-light-color !default;
$blockquote-font-size:       ($base-font-size * 1.25) !default;

$blockquote-footer-color:    $base-muted-color !default;
