@import "stlr/variables/grid";

$container-sm-width:   (720px + $grid-gutter-width) !default;
$container-md-width:   (940px + $grid-gutter-width) !default;
$container-lg-width:   (1140px + $grid-gutter-width) !default;
