$font-family-sans:               "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-sans-custom:        none !default;
$font-family-serif:              Georgia, "Times New Roman", Times, serif !default;
$font-family-serif-custom:       none !default;
$font-family-monospace:          Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-monospace-custom:   none !default;
