@import "stlr/variables/base";
@import "stlr/mixins/rh";

$input-background-color:   #fff !default;
$input-border-color:       #ccc !default;
$input-border-radius:      $base-border-radius !default;
$input-color:              #555 !default;
$input-height:             (rh() + ($base-padding-vertical * 2) + 2) !default;

$input-placeholder-color:     #999 !default;

$input-focus-border-color:         #66afe9 !default;
$input-disabled-background-color:  $base-light-color !default;

$input-lg-border-radius:     $base-lg-border-radius !default;
$input-lg-height:            (ceil($base-lg-font-size * $base-lg-line-height-unitless) + ($base-lg-padding-vertical * 2) + 2) !default;
$input-sm-border-radius:     $base-sm-border-radius !default;
$input-sm-height:            (floor($base-sm-font-size * $base-sm-line-height-unitless) + ($base-sm-padding-vertical * 2) + 2) !default;
