@import "stlr/variables/base";

$jumbotron-background-color:     $base-light-color !default;
$jumbotron-color:                inherit !default;
$jumbotron-font-size:            ceil($base-font-size * 1.5) !default;
$jumbotron-padding:              30px !default;

$jumbotron-heading-color:        inherit !default;
$jumbotron-heading-font-size:    ceil($base-font-size * 4.5) !default;
