@import "stlr/variables/base";

$label-default-background-color:       $base-muted-color !default;
$label-primary-background-color:       $base-primary-background-color !default;
$label-success-background-color:       $base-success-background-color !default;
$label-info-background-color:          $base-info-background-color !default;
$label-warning-background-color:       $base-warning-background-color !default;
$label-danger-background-color:        $base-danger-background-color !default;

$label-color:                #fff !default;
$label-link-hover-color:     #fff !default;
