@import "stlr/variables/base";

$link-color:            $base-primary-background-color !default;

$link-hover-color:             darken($link-color, 15%) !default;
$link-hover-text-decoration:   underline !default;
