@import "stlr/variables/base";

$list-group-background-color:           #fff !default;
$list-group-border-color:               #ddd !default;
$list-group-border-radius:              $base-border-radius !default;

$list-group-hover-background-color:     #f5f5f5 !default;
$list-group-active-background-color:    $base-active-background-color !default;
$list-group-active-border-color:        $list-group-active-background-color !default;
$list-group-active-color:               $base-active-color !default;
$list-group-active-item-text-color:     lighten($list-group-active-background-color, 40%) !default;

$list-group-disabled-background-color:  $base-light-color !default;
$list-group-disabled-color:             $base-muted-color !default;
$list-group-disabled-item-text-color:   $list-group-disabled-color !default;

$list-group-link-color:                 #555 !default;
$list-group-link-hover-color:           $list-group-link-color !default;
$list-group-link-item-heading-color:    #333 !default;
