@import "stlr/variables/base";

$modal-z-index:                    1050 !default;

$modal-backdrop-background-color:  #000 !default;
$modal-backdrop-opacity:           0.5 !default;
$modal-backdrop-z-index:           1040 !default;

$modal-content-background-color:   #fff !default;
$modal-content-border-color:       rgba(0,0,0,.2) !default;

$modal-header-border-color:        #e5e5e5 !default;

$modal-body-padding:               15px !default;

$modal-footer-border-color:        $modal-header-border-color !default;
$modal-footer-padding:             15px !default;

$modal-title-line-height:          $base-line-height-unitless !default;
$modal-title-padding:              15px !default;

$modal-dialog-width:               600px !default;
$modal-dialog-lg-width:            900px !default;
$modal-dialog-sm-width:            300px !default;
