@import "stlr/variables/base";

$nav-link-padding:                             10px 15px !default;
$nav-link-hover-background-color:              $base-light-color !default;

$nav-disabled-link-color:                      $base-muted-color !default;
$nav-disabled-link-hover-color:                $base-muted-color !default;
