@import "stlr/variables/base";
@import "stlr/variables/screen";
@import "stlr/mixins/gg";
@import "stlr/mixins/rh";

$navbar-border-radius:           $base-border-radius !default;
$navbar-height:                  50px !default;
$navbar-margin-bottom:           rh() !default;
$navbar-padding-horizontal:      floor(gg(0.5)) !default;
$navbar-padding-vertical:        ($navbar-height - rh()) / 2 !default;
$navbar-z-index:                 1000 !default;

$navbar-collapse-max-height:       340px !default;

$navbar-fixed-z-index:      1030 !default;

$navbar-breakpoint-exact:       $screen-sm-min !default;
$navbar-breakpoint-before:      ($navbar-breakpoint-exact - 1) !default;
