@import "stlr/variables/pagination";

$pager-background-color:               $pagination-background-color !default;
$pager-border-color:                   $pagination-border-color !default;
$pager-border-radius:                  15px !default;

$pager-hover-background-color:         $pagination-hover-background-color !default;

$pager-disabled-color:                 $pagination-disabled-color !default;
