@import "stlr/variables/base";
@import "stlr/variables/link";

$pagination-background-color:             #fff !default;
$pagination-border-color:                 #ddd !default;
$pagination-color:                        $link-color !default;

$pagination-hover-background-color:       $base-light-color !default;
$pagination-hover-border-color:           #ddd !default;
$pagination-hover-color:                  $link-hover-color !default;

$pagination-active-background-color:      $base-primary-background-color !default;
$pagination-active-border-color:          $base-primary-background-color !default;
$pagination-active-color:                 #fff !default;

$pagination-disabled-background-color:    #fff !default;
$pagination-disabled-border-color:        #ddd !default;
$pagination-disabled-color:               $base-muted-color !default;
