$popover-background-color:    #fff !default;
$popover-border-color:        rgba(0,0,0,.2) !default;
$popover-max-width:           276px !default;
$popover-z-index:             1060 !default;

$popover-title-background-color:      darken($popover-background-color, 3%) !default;

$popover-arrow-color:                 $popover-background-color !default;
$popover-arrow-width:                 10px !default;

$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05) !default;
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
