@import "stlr/variables/base";

$thumbnail-background-color:  $base-background-color !default;
$thumbnail-border-radius:     $base-border-radius !default;
$thumbnail-border:            #ddd !default;
$thumbnail-padding:           4px !default;

$thumbnail-caption-color:     $base-color !default;
$thumbnail-caption-padding:   9px !default;
