$tooltip-background-color:    #000 !default;
$tooltip-color:               #fff !default;
$tooltip-max-width:           200px !default;
$tooltip-opacity:             0.9 !default;
$tooltip-z-index:             1070 !default;

$tooltip-arrow-color:         $tooltip-background-color !default;
$tooltip-arrow-width:         5px !default;
