@import "stlr/variables/base";

$alert-success-background-color:    $base-success-muted-background-color !default;
$alert-success-border-color:        $base-success-muted-border-color !default;
$alert-success-color:               $base-success-muted-color !default;

$alert-info-background-color:       $base-info-muted-background-color !default;
$alert-info-border-color:           $base-info-muted-border-color !default;
$alert-info-color:                  $base-info-muted-color !default;

$alert-warning-background-color:    $base-warning-muted-background-color !default;
$alert-warning-border-color:        $base-warning-muted-border-color !default;
$alert-warning-color:               $base-warning-muted-color !default;

$alert-danger-background-color:     $base-danger-muted-background-color !default;
$alert-danger-border-color:         $base-danger-muted-border-color !default;
$alert-danger-color:                $base-danger-muted-color !default;
