@import "stlr/variables/base";

$btn-default-background-color:    #fff !default;
$btn-default-border-color:        #ccc !default;
$btn-default-color:               #333 !default;

$btn-primary-background-color:    $base-primary-background-color !default;
$btn-primary-border-color:        darken($btn-primary-background-color, 5%) !default;
$btn-primary-color:               #fff !default;

$btn-success-background-color:    $base-success-background-color !default;
$btn-success-border-color:        darken($btn-success-background-color, 5%) !default;
$btn-success-color:               #fff !default;

$btn-info-background-color:       $base-info-background-color !default;
$btn-info-border-color:           darken($btn-info-background-color, 5%) !default;
$btn-info-color:                  #fff !default;

$btn-warning-background-color:    $base-warning-background-color !default;
$btn-warning-border-color:        darken($btn-warning-background-color, 5%) !default;
$btn-warning-color:               #fff !default;

$btn-danger-background-color:     $base-danger-background-color !default;
$btn-danger-border-color:         darken($btn-danger-background-color, 5%) !default;
$btn-danger-color:                #fff !default;
